/* Ronin Setup
 * These are the main configurable options for Ronin,
 * but anything else can be changed by editing the Ronin
 * source itself.
 */

/* The following three values should all be unit-less. */
$container-width: 1140;         /* The width of an element using the container mixin or the .r-container class. */
$num-columns:     12;           /* The number of colums in the Ronin grid. */
$column-width:    62;           /* The width of an individual column (the gutter width is based off of this). */

$column-bottom-margin: 2.75em;  /* The margin applied to the bottom of any column element. */
